.zero{
    flex-direction: column-reverse;
   
   }
.zero{

    flex-wrap: wrap;
    display: flex;
}
.one{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:80px 80px 80px 80px 80px;
    width:50% ;
    height: 60%;
    float:left ;
}
.two{
    display: flex;
    float: right;
    background-color: blue;
    align-items: center;
    justify-content: center;
    height:500px ;
    width: 50%;
}
@media  (max-width:500px){
    .one,.two{
        width:100%;
    }
}    
